html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width:100%;
	position: relative;
	margin:0;
}


.land {
	fill: #222;
}
.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: 1px;
}
.tooltip_key {
	font-weight: bold;
}
.tooltip_value {
	
}
.country .active {
	fill: red;
}
.background {
	fill: none;
	pointer-events: all;
}
.container-oil {
	width:100%;
	height:100%;
}

.content-oil {
	width : 1366px;
	height : 200px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.x.axis {
	text-decoration-color: black;
	stroke: black;
}

.y.axis {
	text-decoration-color: #EFEFEF;
	stroke: black;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
.line#green {
  fill: none;
  stroke: #3aa658;
  stroke-width: 1.5px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#map {
	width:1000px;
	position: relative;
}

#map svg{
}
#charts {
	height:375px;
	display:block;
	overflow:auto;
	width:100%;
	vertical-align: middle;
}
#price {
	height:auto;
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 25px;
}
#production {
	height:275px;
	float:right;
	position: absolute;
}
#panel {
	float:top;
	background-color:#aaa;
	clear:both;
	height:60px;
	width:1366px;
}
#tooltip-container {
	position: absolute;
	background-color: #fff;
	color: #000;
	padding: 10px;
	border: 1px solid;
	display: none;
}
#support-panel {
    height: auto;
    /*width: 40%;*/
    text-align: justify;
    font-size: large;
}
#linechart {
	/*width: 60%;*/
}
#annotation {
	float:right;
	margin-right : 0px;
    width: 500px;
    height: auto;
    padding: 10px;
}
#countrySelect {
	display: inline-block;
	margin-left: 50px;
	width: 200px;
	text-decoration-color: black;
}

#legend {
	display: inline-block;
}

.demo select {
		border: 0 !important;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
        appearance:none;
        background:url(../img/drop.png) no-repeat 90% center;
        background-color:#7E6650; 
		width: 200px; /*Width of select dropdown to give space for arrow image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		text-align: center;
		color: #FFF;
		border-radius: 2px;
		padding: 5px;
		box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	}

.text-annotation{
	text-align: left;
}

.title {
	padding: 20px;
}